.Chart {
    position: relative;
    margin-top: 10%;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    z-index: 100;
    height: 95vh;
}

.chart-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    position: relative;
}

.chart-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Updated button styles for column layout */
.button-container {
    margin-left: 7%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align buttons horizontally */
    margin-top: 20px;
    z-index: 100;
}

.button-container button {
    width: fit-content; /* Optional: Set width of buttons */
    margin: 5px;
    margin-bottom: 10px; /* Space between buttons */
    padding: 10px 20px;
    background-color: #36A2EB;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #1A82C3;
}
