.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e1e;
}

.login-box {
    background-color: #2b2b2b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.title {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
}

.error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.login-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #5a67d8;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-button:hover {
    background-color: #434190;
}

.sign-up {
    color: white;
    text-align: center;
}

.sign-up a {
    color: #5a67d8;
    text-decoration: none;
}

.sign-up a:hover {
    text-decoration: underline;
}
